README-DEVELOPMENT.md
waiter-filter.sh
waiter-script.sh
waiter-00.conf
waiter-00.service
Dockerfile-VEP-local
VCF-EXAMPLE/ASILO.NEW
VCF-EXAMPLE/try*
VCF-EXAMPLE/DIAGNOSTICATOR-TUTORIAL.csv
VCF-EXAMPLE/DIAGNOSTICATOR-TUTORIAL.FILTERED.vcf
VCF-EXAMPLE/DIAGNOSTICATOR-TUTORIAL.FILTERED.csv
VCF-EXAMPLE/analisi_result
